#head-main {
  padding: 1%!important;
  margin: 2% 1%;
  font-family: 'Neuton', serif;
  font-weight: bolder;
  font-size: 500%!important;
}

.height{
    min-height: 100vh;
}

.title-underline{
    width: 300px;
    height: 3px;
    margin: 0 auto;
    
}

.items{
    min-height: 100vh;
    min-width: 100vh;
    background-size: cover;
    margin: 0;
}

.about-picture{
    background: url("Photo by Pixabay from Pexels")center cover no-repeat fixed;
  /*  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
}

#filler,#progress{
    background: linear-gradient(to right, rgba(0,0,0,0),rgba(0,0,0,.7)) ,url("../img/pexels-photo-JellyFish.jpeg")center/cover no-repeat fixed;

}

.about-pictures {
    display: inline-block;
    float: right;
}

.checkbox-item {
    display: inline-block;
}

#home, #about {
    background-color: #d3d3d3!important; 
    background-size: cover;
}

#contact {
    background-color: black;
    color: #FDB028;
}

.footerPre {
    color: white;
}